.tendencias-container {
    background-image: url("../img/fondoCards.png");
    background-size: cover;
}
.tendencias-container .carousel-image {
    height: calc(100vh - 60px);
    width: 100%;
}
.tendencias-container .cards-wrapper {
    display: flex;
}
.tendencias-container .card {
/*    margin: 0 0.5em;*/
    width: calc(100% / 3);
}
.tendencias-container .carousel {
    width: 70%;
    margin: auto;
}
.tendencias-container .titulo-principal {
    font-size: 48px;
    font-weight: 700;
    color: #156669;
}
.tendencias-container .image-wrapper {
    height: 22vw;
}
.tendencias-container .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.tendencias-container .carousel-control-prev{
    width: auto;

}
.tendencias-container .carousel-control-next{
    width: auto;

}
.tendencias-container .carousel-inner{
    padding-left: 3rem;
    padding-right: 3rem;

}
.tendencias-container .card-body{
    border-top: 1px lightgrey solid;
    padding: 8px
}
.tendencias-container .card-img-top{
    height: 250px;
}
.cards-container .card{
    cursor: pointer;
}
.cards-container .card:hover{
    transform: scale(1);
    box-shadow: 5px 5px 15px;
}
.cards-container h3{
    font-size: 40px;
    padding: 40px 30px;
    text-align: center;
    color: #156669;
}
.cards-container .container{
    padding-bottom: 40px;
}

.span-filters{
    margin-right: 15px;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
}

.container-filters{
    display: flex;
    margin: auto;
    width: fit-content;
    padding-bottom: 30px; 
}
