.primera_parte {
     background-image: url(img.home/marmol.jpg);
     width: 100%;
     height: 380px;
     background-position: center;
   }
   
   
   .primera_parte h1 {
     color: #eab2a0;

     top: 30px;
  position: relative;
  text-align: center;
  top: 150px;
  font-size: 60px;
  text-shadow: 0 0 10px #2d4356;
}
.seccion_mas_populares h3 {
  font-size: 27px;
  color: white;
  position: relative;
  text-align: center;
  top: 35px;
}


.seccion_mas_populares {
  background-color: #a76f6f;
  width: 100%;
  height: 400px;
}


.publicaciones_diseñadores {
  width: 100%;
  height: 400px;
  background-color: #a76f6f;
}
.publicaciones_diseñadores h3 {
  color: white;
  width: 100%;
  font-size: 27px;
  height: 400px;
  background-color: #a76f6f;
}


