nav a {
    color: rgb(6, 95, 73) !important;
}
.navbar-nav .nav-item{
    font-size: 18px;
    font-weight: bold;
}
.nav-item a:hover {
    color: #347ad6da !important;
} 
.nav-izq .nav-item a {
    color: black!important;
}
.nav-izq .nav-item a:hover{
    color: black !important;
}
.nav-izq .dropdown-menu{
    background-color: #f5b8f5f1;
}
.nav-izq .dropdown-menu .dropdown-item:hover{
    background-color: #e27fe2f1;
}
.navbar-brand span{
    font-family: 'Courgette', cursive;
    font-size: 28px;
}
.nav-btns {
    background-color:  #e27fe2f1;
    color: white !important;
    margin-left: 8px;
    border-radius: 6px;
}
.nav-btns:hover {
    background-color:#c070c0f1;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; 
    z-index: 1000; 
    /* Alejandro */
}

.dashboard-content {
    padding-top: 70px; 
/*     Alejandro */
}

.banner-container,
.aboutUs-container,
.faq-container{    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.banner-container{
    background-image: url('../img/fondoBanner.png');
}
.info-container p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
}
#imgBanner{
    border-radius: 30px;
}
#intro {
    font-size: 65px !important;
    font-weight: 700;
    color: #156669;
}
.aboutUs-container{
    background-image: url('../img/fondoAbout.png');    
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
#info-app {
    text-align: justify;
}
.faq-container{
    background-image: url('../img/fondoFaq.png');    
}
/* -----------------FORM LOGIN------------------- */
.vista-login {
    font-family: 'Nunito', sans-serif;
    background-image: url('../img/fondo1.png');
}
.form-container{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.btn-login {
    background-color: #EF8E01;
    color: white;
    margin-top: 30px;
}
.btn-login:hover {
    background-color: #fc9e11;
    color: white;
}
.form-header {
    margin-bottom: 30px;
}
.form-header h4 {
    margin-top: 8px;
    font-size: 30px;
    font-weight: bold;
}
.links-footer {
    margin-top: 20px;
}
.links-footer a {
    text-decoration: none;
    color: #EF8E01;
}
.links-footer a:hover {
    text-decoration: none;
    color: #da8302;
}
/* -----------------FORM REGISTRO------------------- */
.vista-registro{
    background-image: url(../img/fondo1.png);    
}
.vista-registro .form-container{
    padding: 30px 40px 10px 40px;
}
.vista-registro .form-container{
    font-size: 12px;
}
.btn-registrar{
    background-color: #EF8E01;
    color: white;
    margin-top: 15px;
    font-size: 13px;
    padding: 5px;
}
.btn-registrar:hover {
    background-color: #fc9e11;
    color: white;
}
.TyC { 
    font-size: 10px;
}
.TyC p{
    font-size:12px;
}
#passwordHelpBlock, 
#passwordMatchMessage{
    font-size: 10px;
    margin: 0px;
}
.vista-registro .green-border {
    border: 1px solid rgb(76, 211, 76) !important;
    background-color:  rgb(206, 238, 206) !important;
    box-shadow: none!important;
}
/* -----------------EXPLORE------------------- */
.explore-container{
    background-image: url('../img/fondoAzul.png');
}
.explore-container .card{
    border:none;
    background-image: url('../img/fondoAzul.png');
    color: #156669;
}
.explore-container h2{
    font-size: 55px;
}

/* -----------------FORM CREAR POST------------------- */
.crear-container{
    position: relative;
}
.blurry-background {
    background-image: url('../img/fondo_post.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: -1;
  }
.crear-container form{
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}
/* -----------------CONFIG IMG PERFIL Y IMG CARDS-------------------- */
.card-img-top {
    width: 100%; /* Ancho del 100% del contenedor */
    height: 200px; /* Altura de 200px, ajusta este valor según tus necesidades */
    object-fit: contain; /* Ajusta la imagen al tamaño del contenedor sin perder su proporción */
    border-radius: 8px; /* Opcional: agrega bordes redondeados para un mejor aspecto */
}
#img-cover{
    object-fit: cover;
}
/* -----------------CARDS VISTA HOME------------------- */

.cards-container{
    background-image: url('../img/fondoAbout.png');
}
.cards-container .card-footer{
    padding: 3px 8px;
}
.like-btn{
    padding: 0px 5px;
}
/* -----------------FORM DASHBOARD------------------- */
 #comentarios,
#usuarios,
#publicaciones, 
#reportes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bienvenida {
    text-align: center;
    margin-bottom: 20px;
  }

.vista-reporte {
    font-family: 'Nunito', sans-serif;
    background-image: url('../img/fondo1.png');
    width: 100%;
}
.vista-usuarios{
    background-image: url('../img/fondoAzul.png');
}
.vista-publicaciones{
    background-image: url('../img/fondoBanner.png');
    background-size: cover;
}
.vista-comentarios{
    background-image: url('../img/fondoFaq.png');    
}

.table-container {
    width: 80%;
    max-height: 33vw;
    overflow: auto;    
}

.custom-table {
    table-layout: auto; 
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.custom-table th {
    font-family: "Bodoni MT", serif;
    font-weight: bold;
    background-color: #f9d9c2;
    border-bottom: 2px solid #000;   
}

.custom-table td {
    font-family: "Bodoni 72", serif;
}

.custom-table tbody tr {
    background-color: white;
}

.custom-table tbody td:hover {
    background-color: #ffe1cd;
}

.custom-table thead {
    border-radius: 10px 10px 1px 1px;
}

.custom-table tbody {
    border-radius: 0 0 10px 10px;
}

.sticky-head {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f9d9c2;
    border-bottom: 2px solid #000;
     /* Alejandro */
}

.sticky-head th {
    font-weight: bold;
    /* Alejandro */
}

.btn-dar-baja {
    color: #fff; 
    background-color: #007bff; 
    border: 1px solid #007bff; 
    padding: 5px 10px; 
    text-decoration: none; 
    border-radius: 5px; 
}

.btn-dar-baja:active {
    background-color: #9333ff;
    border: 1px solid #9333ff;
}

.btn-eliminar:active {
    background-color: #9333ff;
    border: 1px solid #9333ff;
}

.btn-eliminar {
    color: #fff;
    background-color: #ff3300;
    border: 1px solid #ff3300;
    padding: 5px 10px; 
    text-decoration: none; 
    border-radius: 5px; 
}

/* -----------------listas admin------------------- */
/**.flexible-table {
  width: 100%;
  border-collapse: collapse;
}

.flexible-table tr {
  display: flex;
}*/

.flexible-table td,thead {
  flex: 1;  
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 15px;
  border: 1px solid #ccc;
  min-height: 80px;  
  min-width: 200px;
}

/*------------------------------------------------------------*/
.nav  {
    --bs-nav-link-color: none!important;
}  
header{
    width: 60%;
    /* margin: auto; */
    transform: translateY(50px);
    /* padding: 20px 0; */
}
.perfil-container{
    display: flex;
}
.perfil-container img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.contenedor-cabezera{
    margin-left: 100px;
}
.cabezera1{
    width: 290px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}
.cabezera1 h1{
    color: #616161;
    font-weight: 100;
    font-size: 26px;
}
.cabezera1 button{
    width: 100px;
    height: 30px;
    background-color: #fafafa;
    border: solid #dbdbdb 1px;
    cursor: pointer;
}
.cabezera1 svg{
    cursor: pointer;
}
.cabezera2{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 15px;
}
.cabezera3 h2
{
    font-size: 16px;
    margin-bottom: 5px;
}
.errorMensaje {
    color: #000;
/*    -webkit-text-stroke: 1px black;*/
    font-size: x-large;
  
}





.cabezera1 .report-link{
    font-size: 12px!important;
    padding: 3px 5px;
}


